<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./plugins/phplistFourLinuxFunctionality/includes/src/autoload.php">
    <testsuites>
        <testsuite name="phplistFourLinuxFunctionality-domain">
            <directory>./plugins/phplistFourLinuxFunctionality/includes/tests/Domain</directory>
        </testsuite>
        <testsuite name="phplistFourLinuxFunctionality-infrastructure">
            <directory>./plugins/phplistFourLinuxFunctionality/includes/tests/Infrastructure</directory>
        </testsuite>
        <testsuite name="phplistFourLinuxFunctionality-interfaces">
            <directory>./plugins/phplistFourLinuxFunctionality/includes/tests/Interfaces</directory>
        </testsuite>
    </testsuites>
</phpunit>
